
/* Your CSS Code here. */
/* .container{
	border:1px solid black;
	padding:20px;
	width:450px;
	height:220px
} */
.main{
	width:300px;
	background-color:rgb(1,174,191);
	padding:50px;
	border:15px solid blue;
	margin:20px;
}
