
/* Your CSS Code here. */
.container{
	border:1px solid black;
	width:420px;
    display:flex;
	padding:20px;
}
.main{
	background-color:rgb(1,174,191);
	padding:25px 25px;
	border:15px solid blue;
}
.para{
	width:280px;
	border:1px solid black;
	padding:25px 10px;
	margin:20px;
}
